.svg {
    width: auto;
    height: auto;
    min-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.svg path { 
    will-change: stroke;
    pointer-events: stroke;
    stroke-width: 6;
    backface-visibility: hidden;
}

.svg path:hover {
    stroke: #CCCCCC;
}