.svg {
    width: auto;
    height: auto;
    min-height: 100vh;
    min-width: 110vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.breath {
    animation: breath 1s ease-in-out infinite alternate;
}

@keyframes breath {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }
}