.backButton {
    position: fixed;
    top: 5px;
    left: 25px;
    z-index: 100;
}

@media (max-width: 768px) or (max-height: 600px) {
    .backButton {
        left: 15px;
        top: 15px;
    }
}