.aboutContainer {
    position: absolute;
    height: 500vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    transition: opacity 1s ease-in-out;
}
.textContainer {
    height: 100vh;
    width: 60vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.text {
    font-size: 2em;
    color: white;
    font-weight: 200;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}