.aboutContainer {
    position: absolute;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    transition: opacity 0.8s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.scrolling {
    backdrop-filter: blur(6px);
}
.textContainer {
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}
.text {
    font-size: 40px;
    color: white;
    font-weight: 200;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.introText {
    text-align: center; 
    font-size: 48px;
}
.secondHalfContainer {
    animation: fadeIn 1s forwards;
    animation-delay: 4s;
    opacity: 0;
    background-color: rgba(255,255,255,0.4);
    padding: 0 4px;
    border-radius: 4px;
}
.secondHalf {
    background: linear-gradient(#631814 30%, #000000) left no-repeat, #000000;
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colourText 2s forwards;
    animation-delay: 5s;
}
.rotatingComma {
    display: inline-block;
    transform: rotate(90deg);
    opacity: 0;
    animation: rotateComma 0.4s forwards ease-out;
    animation-delay: 3.4s;
}

@keyframes colourText {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
  }

@keyframes rotateComma {
    from {
        transform: rotate(90deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes xTranslation {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

.slideIn {
    overflow: hidden;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
}
  
.slideIn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: translate3d(-100%, 0, 0);
    animation: slideIn 0.3s forwards ease-in;
    animation-delay: 1.6s;
}

@keyframes slideIn {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 768px) {
    .introText {
        /* transform: translateX(0);
        animation: none; */
        text-align: center; 

    }
    .textContainer {
        padding: 0 10vw;
    }
    .text {
        font-size: 24px;
    }
}
@media (max-height: 768px) {
    .text {
        font-size: 24px;
    }
}