.contactContainer {
    position: fixed;
    top: 5px;
    right: 25px;
    cursor: pointer;
    z-index: 100;
}

@media (max-width: 768px) or (max-height: 600px) {
    .contactContainer {
        right: 15px;
        top: 15px;
    }
}